extends _layout
block main
	main
		#index-banner.banner
			.container
				h1 KIRIBAN
				p.lead KIRIBANはあなただけの空間を持てる古いけど新しいSNSです。なんて偉そうなキャッチフレーズをNode.js使って面白そうなことをするための言い訳に掲げています。
				p
					a.btn.btn-primary(href='/login') ログイン
				p
					a.btn.btn-info(href='/register') 新規登録
		.container.text-center
			h2 あなたの王国を作りましょう
			.row
				.col-sm-4
					img.w-100(src='http://getbootstrap.com/apple-touch-icon.png')
					p Bootstrap感に溢れたやる気のないデザイン
				.col-sm-4
					img.w-100(src='http://kigyo-ka.com/wp-content/uploads/2015/12/tirashi2.jpg')
					p まとまりと方向性の見えない機能
				.col-sm-4
					img.w-100(src='http://dic.nicovideo.jp/oekaki/822595.png')
					p すしざんまい
			h2 そんなことよりおうどんたべたい
			p 丸亀製麺の半熟卵揚げおいしいよね